.Button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--defaultRadius);
  border: 1px solid var(--borderColor);
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &_size {
    &_sm {
      padding: calc(var(--defaultPadding) / 6);
      font-size: 10px;
    }

    &_md {
      padding: calc(var(--defaultPadding) / 2);
      font-size: 16px;
    }

    &_lg {
      padding: var(--defaultPadding);
      font-size: 20px;
    }
  }

  &_type {
    &_default {
      background: var(--defaultBG);
    }

    &_primary {
      background: var(--primaryBG);
      border-color: var(--primaryBG);
      color: var(--inverseFG);
    }

    &_success {
      background: var(--successBG);
      border-color: var(--successBG);
    }

    &_danger {
      background: var(--dangerBG);
      border-color: var(--dangerBG);
      color: var(--inverseFG);
    }
  }
}
