.Settings {
  &-ButtonGroup {
    display: flex;
    gap: var(--mbMd);
  }

  &-Title {
    margin-bottom: var(--mbExLg);
  }

  &-Content {
    display: flex;
    flex-direction: column;
    gap: var(--mbExMd);
    margin-bottom: var(--mbExLg);
  }

  &-Button {
    max-width: 200px;
  }
}
