.Settings {
  &-ButtonGroup {
    display: flex;
    gap: 8px;
  }

  &-Title {
    margin-bottom: 32px;
  }

  &-Content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  &-Button {
    max-width: 200px;
  }
}
