.MapAsText {
  &-Item {
    margin-bottom: var(--defaultPadding);
  }

  &-MainTitle {
    margin-bottom: var(--defaultPadding);
  }

  &-Title {
    margin-bottom: calc(var(--defaultPadding) / 2);
  }
}
