.ObjectForm {
  &-Title {
    @include title;
    margin-bottom: var(--defaultPadding);
  }

  &-MainTitle {
    margin-bottom: var(--mbSm);
  }

  &-MainSubTitle {
    display: block;
    margin-bottom: var(--defaultPadding);
  }

  &-Row,
  &-Description {
    margin-bottom: var(--defaultPadding);
  }

  &-Arrow {
    display: flex;
    margin-bottom: var(--mbSm);
    align-items: flex-start;
  }

  &-ArrowName {
    font-size: 12px;
  }

  &-ArrowButton {
    flex-basis: 80px;
    margin-left: auto;
    flex-shrink: 0;
  }

  &-ButtonsGroup {
    display: flex;
    gap: var(--mbMd);
    margin-bottom: var(--mbMd);
  }
}
