.ObjectForm {
  &-Title {
    @include title;
    margin-bottom: var(--defaultPadding);
  }

  &-Row,
  &-Description {
    margin-bottom: var(--defaultPadding);
  }

  &-ButtonsGroup {
    display: flex;
    gap: 8px;
  }
}
