.Search {
  &-Title {
    margin-bottom: var(--defaultPadding);
  }

  &-Input {
    margin-bottom: var(--mbExMd);
  }

  &-Items {
    display: flex;
    flex-direction: column;
    gap: var(--mbExMd);
  }

  &-ItemName {
    cursor: pointer;
  }
}
