.TheMiniMap {
  width: 150px;
  height: 150px;
  background: var(--overlayInnerBG);
  opacity: 0.8;
  border: solid 1px var(--borderColor);
  border-radius: var(--defaultRadius);

  &-Wrapper {
    position: relative;
    overflow: hidden;
    pointer-events: none;
  }

  &-Screen {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: var(--primaryBG);
    width: 50px;
    height: 30px;
    opacity: 0.3;
  }
}
