# Синхронизует файлы проекта с сервером
rm -Rf ./public/maps &&
rm -Rf ./public/images &&
rm -Rf ./public/search-index &&
rm -Rf ./.output/public/maps &&
rm -Rf ./.output/public/images &&
rm -Rf ./.output/public/search-index &&
npm run build &&
rsync -zavP .output/ YOUR_HOST_HERE:/var/www/mind-map-creator/.output/
