.Modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--overlayBG);
  z-index: 2;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--defaultPadding);

  &-Inner {
    width: 100%;
    max-width: 900px;
    min-height: 300px;
    max-height: 90%;
    overflow-y: auto;
    background: var(--overlayInnerBG);
    border-radius: var(--defaultRadius);
    box-sizing: border-box;
    padding: var(--defaultPadding);
  }
}
