.Modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--overlayBG);
  z-index: 2;
  justify-content: center;
  align-items: center;

  &-Inner {
    max-width: 600px;
    min-height: 300px;
    background: var(--overlayInnerBG);
    box-sizing: border-box;
    padding: var(--defaultPadding);
  }
}
