.Drawer {
  $self: &;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--overlayBG);
  z-index: 2;

  &-Inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--overlayInnerBG);
    box-sizing: border-box;
    padding: var(--defaultPadding);
  }

  &_Direction {
    &_rtl {
      #{$self}-Inner {
        left: auto;
        right: 0;
      }
    }
  }

  &-Content {
    flex-grow: 1;
    overflow-y: auto;
  }

  &-Footer {
    background: var(--defaultBG);
  }
}
