.TheMapAsText {
  &-Item {
    margin-bottom: var(--defaultPadding);
  }

  &-MainTitle {
    margin-bottom: var(--defaultPadding);
  }

  &-Title {
    margin-bottom: calc(var(--defaultPadding) / 2);
  }

  &-Share {
    display: inline-block;
    max-width: 100px;
  }

  &-ModalTitle {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
