.Textarea {
  &-Input {
    display: block;
    width: 100%;
    padding: var(--defaultPadding);
    border: 1px solid var(--borderColor);
    border-radius: var(--defaultRadius);
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
    resize: none;
  }
}
