.FastPreviewObject {
  position: absolute;
  min-width: 300px;
  min-height: 90px;
  padding: 10px;
  box-sizing: border-box;
  background: var(--editorBackground);
  border: 1px solid var(--borderColor);
}
