.PageMain {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  box-sizing: border-box;
  padding: var(--defaultPadding);
  max-width: 900px;
  background: var(--defaultBG);
  min-height: calc(100vh - 52px);
  border-radius: var(--defaultRadius);

  &-Row {
    margin-bottom: var(--mbExMd);
  }

  &-SubTitle,
  &-Title {
    text-align: center;
    margin-bottom: var(--mbExMd);
  }

  &-Files {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--defaultPadding);
  }

  &-Button {
    max-width: 200px;
  }

  &-NewMap {
    display: flex;
    gap: var(--mbMd);
  }

  &-Bars {
    background: var(--editorBackground);
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: stretch;
  }

  &-Bar {
    background: var(--primaryBG);
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--inverseFG);
    box-sizing: border-box;
    padding: var(--mbMd);
    font-size: var(--fzSmall);
    border: solid 2px var(--editorBackground)
  }
}
