.TheHeader {
  padding: var(--defaultPadding);
  background: var(--headerBG);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;

  &-Actions {
    display: flex;
    gap: var(--mbSm);
  }
}
