.BaseNotify {
  position: fixed;
  bottom: var(--defaultPadding);
  right: var(--defaultPadding);
  padding: var(--defaultPadding);
  font-size: 12px;

  &_theme {
    &_success {
      background: var(--successBG);
    }

    &_error {
      background: var(--dangerBG);
    }
  }
}
