.PageEditor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--editorBackground);
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "header header"
    "nav editor";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 200px 1fr;

  &-Header {
    grid-area: header;
    height: 50px  ;
  }

  &-SideBar {
    grid-area: nav;

    @media (max-width: $tabletMW) {    bottom: 0;
      height: auto;
      top: 50px;
      position: absolute;
      z-index: 9;
      left: -250px;
      transition: left linear 0.1s;

      &.opened {
        left: 0;
      }
    }
  }

  &-SelectionLocker {
    visibility: hidden;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 130px;
    width: 50px;
    height: 50px;
    background: var(--headerBG);
    z-index: 1;
    font-size: 20px;

    &_Locked {
      background: pink;
    }

    @media (max-width: $tabletMW) {
      visibility: visible;
    }
  }

  &-SideBarOpener {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;
    padding: 12px;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    right: 0;
    width: 50px;
    height: 50px;
    background: var(--headerBG);
    z-index: 1;

    hr {
      border-width: 2px;
    }

    @media (max-width: $tabletMW) {
      visibility: visible;
    }
  }

  &-Editor {
    grid-area: editor;
  }

  &-MiniMap {
    position: absolute;
    top: calc(50px + var(--defaultPadding));
    right: var(--defaultPadding);
  }

  @media (max-width: $tabletMW) {
    grid-template-areas:
    "header header"
    "editor editor";
  }
}
