:root {
  --defaultPadding: 16px;

  --borderColor: #999;
  --editorBackground: #f1f1f1;
  --overlayInnerBG: #fff;
  --overlayBG: rgba(0,0,0,.3);
  --defaultBG: #fff;
  --primaryBG: #22bdff;
  --successBG: #7dff67;
  --dangerBG: #ff5555;
}
