:root {
  --defaultRadius: 4px;
  --defaultPadding: 16px;

  --mainFG: #000;
  --inverseFG: #fff;
  --borderColor: #999;
  --headerBG: #ddd;
  --editorBackground: #f1f1f1;
  --overlayInnerBG: #fff;
  --overlayBG: rgba(0,0,0,.1);
  --defaultBG: #fff;
  --primaryBG: #22bdff;
  --successBG: #7dff67;
  --dangerBG: #ff5555;
}
