.TheObjectTransfer {
  &-Items {
    display: flex;
    gap: var(--mbExMd);
    flex-direction: column;
    padding-left: var(--mbLg);
  }

  &-Button {
    display: inline-block;
    width: 100px;
    margin-right: var(--mbMd);
  }
}
