.ParentTypes {
  &-Title {
    margin-bottom: var(--mbExLg);
  }

  &-Items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--mbMd);
  }

  &-Item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: var(--defaultPadding);
  }

  &-ItemImage,
  &-ItemTitle {
    text-align: center;
    align-self: center;
  }

  &-ItemTitle {
    margin-bottom: var(--mbMd);
  }

  &-ItemButton {
    margin: auto auto 0;
    max-width: 130px;
    font-size: 12px;
  }
}
