.EditorPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--editorBackground);
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "header header"
    "nav editor";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 200px 1fr;

  &-Header {
    grid-area: header;
    height: 50px  ;
  }

  &-SideBar {
    grid-area: nav;
  }

  &-Editor {
    grid-area: editor;
  }

  &-MiniMap {
    position: absolute;
    top: calc(50px + var(--defaultPadding));
    right: var(--defaultPadding);
  }
}