@import './reset.scss';
@import './transitions.scss';
@import './variables.scss';

body {
    color: #000 !important
}

.Common {
    &-H1 {
        font-size: 30px;
        font-weight: bold;
    }

    &-H2 {
        font-size: 25px;
        font-weight: bold;
    }

    &-H3 {
        font-size: 20px;
        font-weight: bold;
    }

    &-Flex {
        display: flex;

        &-Column {
            flex-direction: column;
        }
    }

    &-Gap {
        gap: var(--mbMd)
    }

    &-Mb {
        &-Md {
            margin-bottom: var(--mbMd);
        }
    }

    &-Ml {
        &-auto {
            margin-left: auto;
        }
    }

    &-Display {
        &-Iblock {
            display: inline-block;
        }
    }

    &-MaxWidth {
        &-200 {
            max-width: 200px;
        }

        &-150 {
            max-width: 150px;
        }
    }
}
